In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv("../data/sales_ads_train.csv")

 # buduje listę ilośći aut w widełkach co 50k zeby zobaczyć gdzie nalezy oczyścić dane
bins = list(range(0, int(df["Cena"].max()) + 50000, 50000)) 
labels = [f"{bins[i]}-{bins[i+1]}" for i in range(len(bins)-1)]
df["Widełki_cenowe"] = pd.cut(df["Cena"], bins=bins, labels=labels, include_lowest=True)
widełki_count = df["Widełki_cenowe"].value_counts().sort_index()

# ucinam ceny do 1000 (38 ofert) i od 2 mln praktycznie brak ofert
df_filtered = df[(df["Cena"] >= 1000) & (df["Cena"] <= 2000000)]

# usuwam zbędne kolumny - "Widełki_cenowe", "Data_publikacji_oferty", "ID"
df_filtered = df_filtered.drop(columns=["Widełki_cenowe", "Data_publikacji_oferty", "ID"])

# usuwam wieksze w których waluta != PLN oraz usuwam zbędną kolumnę
df_filtered = df_filtered[df_filtered["Waluta"] == "PLN"]
df_filtered = df_filtered.drop(columns=["Waluta"])

df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 131824 entries, 0 to 135396
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Cena                        131824 non-null  int64
 1   Stan                        128585 non-null  object
 2   Marka_pojazdu               128542 non-null  object
 3   Model_pojazdu               128619 non-null  object
 4   Wersja_pojazdu              85085 non-null   object
 5   Generacja_pojazdu           91339 non-null   object
 6   Rok_produkcji               128510 non-null  float64
 7   Przebieg_km                 127930 non-null  float64
 8   Moc_KM                      128195 non-null  float64
 9   Pojemnosc_cm3               127254 non-null  float64
 10  Rodzaj_paliwa               128499 non-null  object
 11  Emisja_CO2                  57939 non-null   float64
 12  Naped                       119186 non-null  object
 13  Skrzynia_biegow             128159 non-null  object
 14  Typ_nadwozia                128531 non-null  object
 15  Liczba_drzwi                127575 non-null  float64
 16  Kolor                       128450 non-null  object
 17  Kraj_pochodzenia            72994 non-null   object
 18  Pierwszy_wlasciciel         39855 non-null   object
 19  Data_pierwszej_rejestracji  53289 non-null   object
 20  Lokalizacja_oferty          128579 non-null  object
 21  Wyposazenie                 128672 non-null  object
dtypes: float64(6), int64(1), object(15)
memory usage: 23.1+ MB